{
  "SENTRY_DSN": "https://public@sentry.example.com/1",
  "DB_HOSTNAME": "fiap-irango-rds.rds.amazonaws.com",
  "DB_USERNAME": "root",
  "DB_PASSWORD": "password",
  "DB_PAYMENT_HOSTNAME": "fiap-irango-payment-rds.rds.amazonaws.com",
  "REDIS_HOSTNAME": "fiap-irango-cache.cache.amazonaws.com",
  "MONGO_HOSTNAME": "fiap-irango-cluster.mongodb.net",
  "MONGO_DATABASE": "irango_cook",
  "MONGO_USERNAME": "root",
  "MONGO_PASSWORD": "password",
  "MONGO_ATLAS_ORG_ID": "XXXXXXXXXXXXXXXXXXXXXXXX",
  "MONGODB_ATLAS_PUBLIC_KEY": "public_key",
  "MONGODB_ATLAS_PRIVATE_KEY": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
  "PERSONAL_ACCESS_TOKEN": "ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "AWS_ACCESS_KEY_ID": "XXXXXXXXXXXXXXXXXXXX",
  "AWS_SECRET_ACCESS_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}